.App {
  text-align: center;
}


.maid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center; /* This will center the grid items horizontally */
  padding: 20px;
}


.maid-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 250px; /* Set a max width to keep the cards at a reasonable size */
}


.maid-avatar {

  height: 100px;            
  border-radius: 9999px;    
  object-fit: cover;
  margin-bottom: 12px;
  border: 4px solid #E5E7EB;
}


.contact-now-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-now-btn:hover {
  background-color: #45a049;
}

.navbar {
  position: relative;
  background-color: #1f1f1f;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
}

/* Centered Title */
.navbar-center h1 {
  margin: 0;
  color: #ADFF2F;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;      /* Bigger font */
  line-height: 1;       /* Prevents height expansion */
}


/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Stack elements vertically on mobile */
    height: auto; /* Allow height to grow on mobile */
    padding: 10px 10px; /* Reduce horizontal padding */
  }

  .navbar-center h1 {
    font-size: 18px; /* Adjust font size for mobile */
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-center h1 {
    font-size: 14px; /* Even smaller font size for very small screens */
  }
}

.floating-button {
  position: fixed;
  bottom: 20px; /* Reduced from 30px */
  right: 20px; /* Reduced from 30px */
  background-color: #2E8B57;  /* Slightly more subtle green */
  padding: 8px 15px;  /* Smaller padding */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: transform 0.3s ease;
}

.floating-button:hover {
  transform: scale(1.05);
}

.floating-button a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  gap: 5px;
}

.floating-button span {
  font-size: 14px;  /* Smaller font size */
}

.floating-button a:hover {
  color: white /* WhatsApp dark green on hover */
}
